# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=HanaCryptoBank Core
Comment=HanaCryptoBank Core QT main network
GenericName=HanaCryptoBank Digital Currency QT client main network
Exec=hanacryptobank-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/hanacryptobank.png
MimeType=x-scheme-handler/hanacryptobank;
Categories=X-Office;X-Finance;
Keywords=internet;hanacryptobank;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=hanacryptobank-qt.desktop
